.row_container_title{
    font-size: 20px;
    font-weight: 700;
    color: gray;
    text-align: left;
}
.movies_row_container{
    display: flex;
    align-items: center;
     overflow-x: scroll; 
    overflow-y: hidden;
}

.movies_row >img
{
    height: 200px;
    margin: 2px;
    transition: transform 0.5s;
    
}
.movies_row > img:hover {
    transform: scale(1.2);

}